@use './breakpoints';

.nano-modal {
  --nm-radius: 0;
  --nm-max-width: 50rem;
}

.nano-modal__content {
  background-color: var(--bg);
  color: var(--fg);
  padding: 2rem;
  border-top: 1px solid rgb(255 255 255 / 0.1);

  @include breakpoints.md {
    border: 1px solid rgb(255 255 255 / 0.1);
  }

  @include breakpoints.lg {
    padding: 3rem;
  }

  h2,
  span {
    color: oklch(0.7 var(--theme-c) var(--theme-h));
  }
}

.nano-modal__close-button.dialog-close-button {
  margin-top: -0.25rem;
  display: flex;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  align-items: center;
  gap: 0.5rem;
  color: var(--gray-400);
  background: rgb(32 33 37 / 0.8);
  backdrop-filter: blur(10px);
}

.dialog-close-button:hover {
  color: var(--fg);
}

.dialog-close-button:focus-visible {
}

.dialog-close-button svg {
  height: 1rem;
  margin-top: -0.125rem;
}
