@use 'breakpoints';

.app {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;

  @include breakpoints.lg {
    flex-direction: row;
  }
}

.content {
  padding: 1rem 2rem 2rem;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  min-height: 60vh;
  min-height: 60svh;
  max-height: 80vh;
  max-height: 80svh;

  @include breakpoints.lg {
    max-height: none;
  }
}

.text {
  padding-bottom: 2rem;
  text-align: center;
}

.stars {
  position: absolute;
  overflow: hidden;
  inset: 0;
  z-index: -1;
}

.drawing {
  display: grid;
  place-items: center;
  flex-grow: 1;

  @include breakpoints.lg {
    padding-bottom: 4rem; // To move it up and balance visually
    /* Grid of invaders */
    /* grid-template-columns: repeat(12, 1fr); */
  }
}

.drawing svg {
  --invader-pixel: 1rem;

  margin: 0 auto;
  max-width: 100%;

  max-width: calc(var(--invader-width) * var(--invader-pixel));

  @include breakpoints.lg {
    --invader-pixel: 1.25rem;

    /* Grid of invaders */
    /* --invader-pixel: 0.3rem; */
  }
}

.controls {
  margin-top: auto;
  z-index: 1;

  @include breakpoints.lg {
    margin-top: 0;
  }
}

.hide-controls .controls {
  display: none;
}

.hide-controls .drawing {
  max-height: 100vh;
  max-height: 100svh;
}
