@use 'breakpoints';

body {
  background: #202125;
  color: #eff1f4;
  font-family:
    'nope8', 'Inconsolata', ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono',
    monospace;
}

h1 {
  color: #6b788b;
  text-align: center;
  padding: 1rem 1rem 0;
}

.app {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;

  @include breakpoints.lg {
    flex-direction: row;
  }
}

.controls {
  margin-top: auto;
  z-index: 1;

  @include breakpoints.lg {
    margin-top: 0;
  }
}

.drawing {
  width: 100%;
  flex-grow: 1;
  padding: 2rem;
  position: sticky;
  top: 0;
  display: grid;
  place-items: center;

  max-height: 80vh;
  max-height: 80svh;

  @include breakpoints.lg {
    max-height: none;
    /* Grid of invaders */
    /* grid-template-columns: repeat(12, 1fr); */
  }
}

.drawing svg {
  --invader-pixel: 1rem;

  margin: 0 auto;
  max-width: 100%;

  max-width: calc(var(--invader-width) * var(--invader-pixel));

  @include breakpoints.lg {
    --invader-pixel: 1.25rem;

    /* Grid of invaders */
    /* --invader-pixel: 0.3rem; */
  }
}

.hide-controls .controls {
  display: none;
}

.hide-controls .drawing {
  max-height: 100vh;
  max-height: 100svh;
}
