@use 'breakpoints';

body {
}

.app {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;

  @include breakpoints.lg {
    flex-direction: row;
  }
}

.controls {
  margin-top: auto;
  z-index: 1;

  @include breakpoints.lg {
    margin-top: 0;
  }
}

.drawing {
  width: 100%;
  flex-grow: 1;
  padding: 2rem;
  position: sticky;
  top: 0;

  max-height: 80vh;
  max-height: 80svh;

  @include breakpoints.lg {
    max-height: 100vh;
    max-height: 100svh;
  }
}

.drawing svg {
  --invader-pixel: 1rem;

  background: white;
  margin: 0 auto;
  max-width: 100%;

  max-width: calc(var(--invader-width) * var(--invader-pixel));

  @include breakpoints.lg {
    --invader-pixel: 1.25rem;
  }
}

.hide-controls .controls {
  display: none;
}

.hide-controls .drawing {
  max-height: 100vh;
  max-height: 100svh;
}
